.compilation {
  padding-top: 40px;
  margin-top: -20px;
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.compilation__form {
  width: 270px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 28px;
  background-color: #ffd74b;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 688px;

    @media (min-width: $desktop-width) {
      width: 285px;
    }
  }
}

.compilation__form-container {
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 617px;

    @media (min-width: $desktop-width) {
      width: 190px;
    }
  }
}

.compilation__desc {
  padding-top: 26px;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 38px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.compilation__hobby {
  padding-bottom: 14px;
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-top: none;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.compilation__hobby-desc {
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.compilation__hobby-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: 450px;

    @media (min-width: $desktop-width) {
      display: contents;
      flex-direction: column;
    }
  }
}

.compilation__hobby-item {
  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.compilation__hobby-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.compilation__music {
  padding-bottom: 14px;
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-top: none;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.compilation__music-desc {
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.compilation__music-list {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 450px;

    @media (min-width: $desktop-width) {
      display: contents;
      flex-direction: column;
    }
  }
}

.compilation__music-item {
  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.compilation__music-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.compilation__food {
  padding-bottom: 14px;
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-top: none;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.compilation__food-desc {
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.compilation__food-list {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 450px;

    @media (min-width: $desktop-width) {
      display: contents;
      flex-direction: column;
    }
  }
}

.compilation__food-item {
  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.compilation__food-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.compilation__transport {
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: flex;
    border-top: none;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.compilation__transport-desc {
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.compilation__transport-list {
  display: flex;
  align-items: baseline;
  justify-content: start;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-left: 18px;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }
}

.compilation__button {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 22px;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid #f3c72b;
  }
}

.compilation__transport-item {
  width: 31px;
  height: 31px;
  background-color: #fff;
  border-radius: 50%;
}

.compilation__transport-item:first-child {
  background-image: url('..//img/icon/airplane-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.compilation__transport-item:nth-child(2) {
  background-image: url('..//img/icon/auto-iconn.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.compilation__transport-item:nth-child(3) {
  background-image: url('..//img/icon/bicycle-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.compilation__transport-item:last-child {
  background-image: url('..//img/icon/run-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.compilation__transport-input {
  display: none;
}

.compilation__level {
  border-top: 1px solid #f3c72b;

  @media (min-width: $tablet-width) {
    display: flex;
    border-top: none;

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }
}

.compilation__level-desc {
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 76px;
  }
}

.compilation__level-list {
  display: flex;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: 180px;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }
}

.compilation__level-item-min {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  min-height: 35px;
  color: #1d2e5b;
  background-color: #fff;
  border: 1px solid #cbced9;
  border-radius: 4px 0 0 4px;

  @media (min-width: $tablet-width) {
    min-width: 74px;
    min-height: 46px;
  }
}

.compilation__level-item-max {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  min-height: 35px;
  color: #1d2e5b;
  background-color: #fff;
  border: 1px solid #cbced9;
  border-radius: 0 4px 4px 0;

  @media (min-width: $tablet-width) {
    min-width: 74px;
    min-height: 46px;
  }
}

.compilation__level-wraper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    order: 1;

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }
}

.compilation__button-button {
  padding-top: 14px;
  padding-right: 73px;
  padding-bottom: 14px;
  padding-left: 72px;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #161c35;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-right: 266px;
    padding-bottom: 17px;
    padding-left: 266px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;

    @media (min-width: $desktop-width) {
      padding-top: 17px;
      padding-right: 46px;
      padding-bottom: 17px;
      padding-left: 46px;
    }
  }
}
