.compilation__desc {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.compilation__hobby-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.compilation__hobby-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.compilation__music-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.compilation__music-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.compilation__food-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.compilation__food-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.compilation__transport-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.compilation__level-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.compilation__button {
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
}
