.directions__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.directions__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.directions__country-country {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__country-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__link-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}
