.feedback__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.feedback__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.feedback__aside-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.feedback__aside-telephone {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
}

.feedback__aside-email {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
}
