.feedback {
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.feedback__wrap {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.feedback__wraper {
  width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }
}

.feedback__title {
  display: flex;
  width: 210px;
  padding-top: 105px;
  padding-bottom: 19px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;

  @media (min-width: $tablet-width) {
    width: 393px;
    padding-top: 133px;
    padding-bottom: 59px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }
}

.feedback__desc {
  width: 210px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 618px;
    padding-bottom: 65px;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
  }
}

.feedback__email {
  display: flex;
}

.feedback__email-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 29px;
}

.feedback__email-input {
  width: 220px;
  height: 62px;
  border-radius: 15px 0 0 15px;

  @media (min-width: $tablet-width) {
    width: 540px;
    height: 80px;
    border-radius: 20px 0 0 20px;
  }
}

.feedback__email-button {
  position: relative;
  top: 2px;
  left: -14px;
  min-width: 62px;
  min-height: 60px;
  padding: 0;
  background-color: #ffd74b;
  border: none;
  border-radius: 15px 15px 15px 15px;
}

// .feedback__email-img {
//   padding-top: 22px;
//   padding-right: 22px;
//   padding-bottom: 24px;
//   padding-left: 22px;

//   @media (min-width: $tablet-width) {
//     padding-top: 34px;
//     padding-right: 32px;
//     padding-bottom: 34px;
//     padding-left: 32px;
//   }
// }

.feedback__desc-link {
  color: #ffd74b;
}

.feedback__aside-text {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 614px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
  }
}

.feedback__aside-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: start;
  }
}

.feedback__aside-telephone {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffd74b;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
}

.feedback__aside-email {
  margin-bottom: 44px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffd74b;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
}
