.feedback {
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.feedback__wrap {
  margin: 0 auto;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.feedback__title {
  display: flex;
  width: 210px;
  padding-top: 105px;
  padding-bottom: 19px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.feedback__desc {
  width: 210px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.feedback__email {
  display: flex;
}

.feedback__email-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.feedback__email-input {
  width: 220px;
  height: 62px;
  border-radius: 15px 0 0 15px;
}

.feedback__email-button {
  position: relative;
  top: 2px;
  left: -14px;
  height: 66px;
  background-color: #ffd74b;
  border: none;
  border-radius: 15px 15px 15px 15px;
}

.feedback__email-img {
  padding-top: 24px;
  padding-right: 22px;
  padding-bottom: 24px;
  padding-left: 22px;
}

.feedback__desc-link {
  color: #ffd74b;
}

.feedback__aside-text {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.feedback__aside-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__aside-telephone {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffd74b;
  text-decoration: none;
}

.feedback__aside-email {
  margin-bottom: 44px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffd74b;
  text-decoration: none;
}
