.filter__closed-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.filter__label-continent {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.filter__label-leter {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.filter__link-country {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.filter__opened-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
