.form__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.form__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.form__subtitle-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.form__date-search {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.form__date-search-people {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.form__date-duration {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.form__date-duration-day {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.form__child-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.form__button-next {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.form__route-route {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.form__route-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.form__route-option {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.form__button-back {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.form__entertainment-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.form__entertainment-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.form__entertainment-country {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
