.form {
  margin-top: -25px;
  margin-bottom: -25px;
  background-color: #d4d9eb;
  border-radius: 30px 30px 0 0;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 618px;
  }
}

.form__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #1d2e5b;
}

.form__date {
  border-radius: 10px;
}

.form__date-subtitle {
  display: flex;
  padding-top: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
}

.form__date-subtitle-desc {
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.form__wraper {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }
}

.form__container {
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 538px;
  }
}

.form__date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.form__date-people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.form__date-search {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
}

.form__date-search-people {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1d2e5b4b;
}

.form__people-input {
  width: 220px;
  height: 43px;
  margin-top: 8px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 538px;
  }
}

.form__date-day {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.form__date-duration {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
}

.form__date-duration-day {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1d2e5b4b;
}

.form__day-input {
  width: 220px;
  height: 43px;
  margin-top: 8px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 538px;
  }
}

.form__child {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.form__child-input {
  margin-top: 28px;
}

.form__child-label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.form__calendar {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    order: 6;
  }
}

.form__button-next {
  display: flex;
  padding-top: 7px;
  padding-right: 41px;
  padding-bottom: 7px;
  padding-left: 42px;
  margin-top: 22px;
  margin-bottom: 23px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #1d2e5b;
  text-transform: uppercase;
  background-color: #ffd74b;
  border: none;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    justify-content: space-between;
    order: 7;
    width: 286px;
    padding-top: 29px;
    padding-right: 33px;
    padding-bottom: 27px;
    padding-left: 34px;
    margin-top: 47px;
    margin-bottom: 56px;
  }
}

.form__button-img {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.form__route {
  margin-top: 10px;
  background-color: $white;
  border-radius: 10px;
}

.form__route-subtitle {
  display: flex;
  padding-top: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
}

.form__route-subtitle-desc {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.form__route-wraper {
  display: flex;
  flex-direction: column;
}

.form__route-select {
  height: 42px;
  margin-bottom: 22px;
  color: #1d2e5b;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 369px;
  }
}

.form__route-option {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.form__button-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.form__button-back {
  margin-top: 13px;
  margin-bottom: 9px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #1d2e5b;
  text-transform: uppercase;
  background-color: #ffd84b00;
  border: none;
  border-radius: 20px;
}

.form__entertainment {
  margin-top: 10px;
  margin-bottom: 60px;
  background-color: $white;
  border-radius: 10px;
}

.form__entertainment-subtitle {
  display: flex;
  padding-top: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
}

.form__entertainment-subtitle-desc {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.form__entertainment-container {
  display: flex;
  flex-direction: column;
}

.form__entertainment-country {
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.form__entertainment-textarea {
  height: 220px;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 500px;
    height: 142px;
  }
}
