.location {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  background-color: #ffd74b;
  border-radius: 0 0 30px 30px;
}

.location__adress {
  width: 143px;
  padding-top: 65px;
  padding-bottom: 32px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    width: 430px;
    padding-top: 124px;
    padding-bottom: 62px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
}

.location__button {
  display: flex;
  justify-content: space-around;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  background-color: #ffd74b;
  border: 3px solid #192144;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 84px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 20px;
  }
}
