.page-header {
  background-color: $dark-blue;
}

// .page-header__nav {
//   min-width: 320px;
//   min-height: 568px;
// }

// .page-header__nav-opened {
//   position: absolute;
// }

.page-header-internal {
  background-color: #ffd74b;
}

.page-header-companion {
  background-color: #e2e5f2;
}

.page-header__container {
  background-color: $dark-blue;
  border-radius: 0 0 20px 20px;
}

.page-header__nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 270px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 688px;

    @media (min-width: $desktop-width) {
      width: 1320px;
    }
  }
}

.page-header__nav-button-closed {
  width: 25px;
  height: 11px;
  background-color: $dark-blue;
  background-image: url("..//img/icon/burgermenu-closed-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 55px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.page__authorization-link {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 15px;
    padding-right: 28px;
    padding-bottom: 15px;
    padding-left: 28px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: $dark-blue;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffd74b;
    border-radius: 30px;
  }
}

.page-header__nav-menu {
  background-color: $white;
  position: absolute;
  z-index: 9999999999999999;
  width: 100%;
  display: none;

  @media (min-width: $desktop-width) {
    width: 800px;
    position: relative;
    margin: 0 auto;
    top: -70px;
    background-color: #161c35;
    display: block;
  }
}

.page-header__nav-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  // margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 574px;

    @media (min-width: $desktop-width) {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
  }
}

.page-header__nav-list {
  display: flex;
  flex-direction: column;
  width: 195px;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 51px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 383px;
    text-align: left;
    margin: 0;
    margin-bottom: 150px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      width: 500px;
      margin: 0;
      padding: 0;
    }
  }
}

.page-header__nav-item {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #192144;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 500;
    line-height: 71px;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      margin-left: 34px;
      color: #fff;
    }
  }
}

.page-header__authorization-link {
  display: block;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 8px;
  padding-left: 28px;
  margin-bottom: 60px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $dark-blue;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd74b;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-header__nav-telephone {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #192144;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;

    @media (min-width: $desktop-width) {
      color:  #ff8d30;
    }
  }
}

.page-header__nav-email {
  margin-bottom: 44px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #192144;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;

    @media (min-width: $desktop-width) {
      margin: 0;
      color: #ffbd30;;
    }
  }
}

.page-header__social {
  padding-bottom: 42px;
  width: 160px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 92px;
    margin: 0;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.page-header__section {
  width: 270px;
  padding-top: 20px;
  padding-bottom: 12px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 618px;
    padding-top: 134px;
    padding-bottom: 66px;
  }
}

.page-header__section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 358px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
  }
}
