.tarifs__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.tarifs__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.tarifs__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
