.traveler {
  padding-bottom: 25px;
  background-color: #edeff6;

  @media (min-width: $tablet-width) {
    margin-bottom: -25px;
  }
}

.traveler__container {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    width: 688px;
  }
}

.traveler__wraper {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 618px;
  }
}

.traveler__wrap {
  display: flex;
  padding-top: 15px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }
}

.traveler__profile {
  display: flex;
  flex-direction: column;
}

.traveler__name {
  width: 80px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-left: 33px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.traveler__button-wrap {
  position: absolute;
  margin-top: 45px;
  margin-left: 60px;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;
    margin-top: 255px;
    margin-left: 258px;
  }
}

.traveler__button-like span {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #161c35;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
}

.traveler__hashtag {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 227px;
    margin-top: -30px;
    margin-left: 105px;
  }
}

.traveler__hashtag-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #444;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }
}

.traveler__visit-container {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.traveler__visit-text {
  margin-bottom: 19px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.traveler__visit-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.traveler__visit-item {
  display: flex;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-right: 26px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

.traveler__visit-desc {
  margin-left: 14px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
}

.traveler__transport {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-left: 588px;
  }
}

.traveler__transport-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.traveler__transport-text {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.traveler__transport-airplane,
.traveler__transport-auto,
.traveler__transport-bike,
.traveler__transport-onfoot {
  padding: 8px;
  background-color: #edeff6;
  border: none;
  border-radius: 50%;
}

.traveler__level {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 29px;
  }
}

.traveler__level-text {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.traveler__level-desc {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.traveler__button-call {
  padding-top: 14px;
  padding-right: 78px;
  padding-bottom: 14px;
  padding-left: 78px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #161c35;
  text-transform: uppercase;
  background-color: #ffd74b;
  border: none;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    width: 150px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 17px;
    padding-left: 33px;
    margin-right: 15px;
    margin-left: 100px;
  }
}
