.users {
  position: relative;
  z-index: 4;
  margin-top: -30px;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.users__container {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 688px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1320px;
    }
  }
}

.users__title {
  display: flex;
  width: 115px;
  padding-top: 102px;
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;

  @media (min-width: $tablet-width) {
    width: 216px;
    padding-top: 141px;
    margin-bottom: 55px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.users__lead {
  width: 217px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;

  @media (min-width: $tablet-width) {
    width: 427px;
    margin-bottom: 39px;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;

    @media (min-width: $desktop-width) {
      line-height: 33px;
    }
  }
}

.users__text {
  display: flex;
  width: 197px;
  margin-bottom: 54px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 59px;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
  }
}

.users__wraper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin-top: 134px;
    margin-bottom: 134px;
  }
}

.users__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.users__cart {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-bottom: 9px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.users__cart-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.users__name {
  padding-top: 27px;
  padding-bottom: 15px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #1d2e5b;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-bottom: 23px;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
  }
}

.users__cart-container {
  width: 260px;
  padding-bottom: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 280px;
    padding-bottom: 20px;
  }
}

.users__hashtag {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }
}

.users__link {
  display: flex;
  justify-content: space-around;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 31px;
  background-color: #ffd74b;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 616px;
    margin-top: 81px;
    margin-bottom: 87px;
    border-radius: 20px;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 445px;
      width: 280px;
    }
  }
}

.users__link-link {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-decoration: none;
}

.users__link-img {
  padding-top: 25px;
  padding-bottom: 25px;
}
