.users__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.users__lead {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.users__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.users__name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.users__hashtag {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.users__link-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}
