$white:  #fcfcfc;

.promo__title {
  color: yellowgreen;
}

.promo__desc-blockquote {
  font-weight: 700;
  color: rgb(255, 0, 0);
}

.promo__desc-text {
  color: rgb(24, 0, 238);
  background-color: $white;
}

a {
  transition: all 0.5s ease-in-out;
}
